<div class="admin">
  <div class="container">
    <app-filter-search
      class="search"
      (searchWord)="searchResult($event)">
    </app-filter-search>
    <div class="sort">

    </div>
    <div class="chart">
      <app-chart id="pie-chart" [dataChart]="dataChartObs"
      ></app-chart>
    </div>
    <div class="add-task">
      <button class="btn" (click)="addTaskDialog($event)">
        Add task
      </button>
    </div>
    <div class="tasks">
      <div class="list">
        <app-list
          class="app-list"
          (changedTask) = "changeTaskDialog($event)"
          [list]="tasks | filter: status.progress: search">
        </app-list>
      </div>
      <div class="list">
        <app-list
          class="app-list"
          (changedTask) = "changeTaskDialog($event)"
          [list]="tasks | filter: status.done: search">
        </app-list>
      </div>
    </div>
  </div>
</div>
