<form [formGroup]="form"  class="form-change-task" (ngSubmit)="submit()">
  <div class="form-control">
    <app-input
      formControlName="title"
      placeholder="Title"
    ></app-input>

    <div class="error" *ngIf="title?.errors?.required">
      Title is required
    </div>

    <div class="error" *ngIf="title?.errors?.maxlength">
      Maximum 30 symbols
    </div>
  </div>

  <div class="form-control">
    <app-input
      class="form-control"
      formControlName="description"
      placeholder="Description"
      textarea="true"
    ></app-input>
  </div>

  <div class="form-control">
    <app-input
      formControlName="status"
      placeholder="status"
    ></app-input>
  </div>

  <div class="form-control">
    <app-input
      formControlName="priority"
      placeholder="Prriority"
    ></app-input>
  </div>
</form>
<button (click)="checkForm()">Check form</button>

<button (click)="changeTask()">Change task</button>
