//colors
$dark-grey-300: #3E4046;
$dark-grey-400: #1D1E23;
$dark-grey-500: #1A1B1F;
$dark-grey-600: #15161A;
$dark-grey-700: #121317;
$dark-grey-800: #0D0E11;

$light-grey-500: #5D6C76;
$light-grey-300: #94A7AF;
$torch-red-600: #DA0031;
$torch-red-800: #AB0026;

$done: #00E65A;
//font
$roboto: 'Roboto', sans-serif;
